<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.routine_work.notepad"
	android:versionCode="21"
	android:versionName="1.0.6"
	android:installLocation="auto"
>
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher_notepad"
		android:theme="@style/Theme.Notepad.Dark"
	>
		<!--
		android:uiOptions="splitActionBarWhenNarrow"
		-->

		<!-- Activity : Notes -->
		<activity
			android:name=".NotepadActivity"
			android:launchMode="singleTop"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>

			<meta-data android:name="android.app.searchable" android:resource="@xml/note_searchable"/>    
		</activity>

		<activity
			android:name=".DeleteNotesActivity" 
			android:label="@string/delete_notes_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>
		</activity>

		<activity
			android:name=".AddNewNoteActivity"
			android:label="@string/add_new_note_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity
			android:name=".NoteDetailActivity" 
			android:label="@string/view_note_title"
			android:launchMode="singleTop"
		>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.note" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>

		</activity>

		<activity
			android:name=".ReceiveTextActivity"
			android:label="@string/insert_note_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>

		</activity>

		<activity
			android:name=".PickNoteActivity" 
			android:label="@string/select_note_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.note" />
			</intent-filter>
		</activity>

		<!-- Activity : Note Templates -->
		<activity
			android:name=".template.NoteTemplateListActivity"
			android:label="@string/note_template_list_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity
			android:name=".template.NoteTemplateDetailActivity"
			android:label="@string/edit_note_template_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.notetemplate" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity android:name=".common.EditTextActivity" />

		<!-- Activity : Create Shortcut -->
		<activity
			android:name=".shortcut.CreateNoteShortcutActivity"
			android:icon="@drawable/ic_launcher_notepad_edit"
			android:label="@string/new_note_shortcut_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".shortcut.CreateSearchNoteShortcutActivity"
			android:icon="@drawable/ic_launcher_notepad_edit"
			android:label="@string/new_search_shortcut_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity 
			android:name=".shortcut.CreateNoteTemplateShortcutActivity"
			android:label="@string/new_from_template_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity 
			android:name=".shortcut.CreateAddNewNoteShortcutActivity"
			android:label="@string/add_new_note_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Activity : Preferences -->
		<activity
			android:name=".prefs.NotepadPreferenceActivity"
			android:label="@string/preferences_title"
		/>

		<activity
			android:name=".prefs.BackupDatabaseActivity" 
			android:label="@string/backup_data_title"
		/>

		<activity
			android:name=".prefs.RestoreDatabaseActivity" 
			android:label="@string/restore_data_title"
		/>

		<activity
			android:name=".prefs.PickBackupFileActivity" 
			android:label="@string/select_backup_file_title"
		/>

		<activity
			android:name=".prefs.InitializePreferenceActivity" 
			android:label="@string/initialize_preference_title"
		/>

		<activity
			android:name=".prefs.AboutAppActivity" 
			android:label="@string/about_app_title"
		/>

		<!-- Activity : Debug -->
		<activity android:name=".debug.DebugFunctionActivity" />

		<!-- Service : data initialize service -->
		<service android:name=".template.NoteTemplateInitializer" />

		<service android:name=".provider.NoteDBOptimizer" />

		<!-- Provider : Notes & Templates Content Provider  -->
		<provider
			android:name=".provider.NoteProvider"
			android:authorities="org.routine_work.notepad.noteprovider"
		/>

		<!--
		<meta-data
			android:name="android.app.default_searchable"
			android:value=".NotepadActivity"
		/>
		-->

	</application>

	<!--
	<uses-permission android:name="android.permission.INTERNET" />
	-->
</manifest> 
