<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
>

	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher_notepad"
		android:theme="@style/Theme.Notepad.Dark"
		android:fullBackupContent="@xml/backup_rules"
		android:dataExtractionRules="@xml/backup_rules"
	>
		<!--
		android:resizeableActivity="true"
		android:supportsPictureInPicture="true"
		android:uiOptions="splitActionBarWhenNarrow"
		-->

		<!-- Activity : Notes -->
		<activity
			android:name=".NotepadActivity"
            android:exported="true"
            android:launchMode="singleTop"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>

			<meta-data android:name="android.app.searchable" android:resource="@xml/note_searchable"/>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity>

		<activity
			android:name=".DeleteNotesActivity"
            android:exported="true"
            android:label="@string/delete_notes_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>
		</activity>

		<activity
			android:name=".AddNewNoteActivity"
            android:exported="true"
            android:label="@string/add_new_note_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity
			android:name=".NoteDetailActivity"
            android:exported="true"
            android:label="@string/view_note_title"
			android:launchMode="singleTop"
            tools:ignore="AppLinkUrlError">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.note" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.note" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ReceiveTextActivity"
            android:exported="true"
            android:label="@string/insert_note_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>

		</activity>

		<activity
			android:name=".PickNoteActivity"
            android:exported="true"
            android:label="@string/select_note_title"
		>
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.note" />
			</intent-filter>
		</activity>

		<!-- Activity : Note Templates -->
		<activity
			android:name=".template.NoteTemplateListActivity"
			android:exported="true"
			android:label="@string/note_template_list_title"
            tools:ignore="AppLinkUrlError">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity
			android:name=".template.NoteTemplateDetailActivity"
            android:exported="true"
            android:label="@string/edit_note_template_title"
            tools:ignore="AppLinkUrlError">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.routine_work.notetemplate" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.routine_work.notetemplate" />
			</intent-filter>
		</activity>

		<activity android:name=".common.EditTextActivity" />

		<!-- Activity : Create Shortcut -->
		<activity
			android:name=".shortcut.CreateNoteShortcutActivity"
            android:exported="true"
            android:label="@string/note"
			android:icon="@drawable/ic_launcher_notepad_edit"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".shortcut.CreateSearchNoteShortcutActivity"
            android:exported="true"
            android:label="@string/search_note_title"
			android:icon="@drawable/ic_launcher_notepad_search"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".shortcut.CreateNoteTemplateShortcutActivity"
            android:exported="true"
            android:label="@string/new_from_template_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".shortcut.CreateAddNewNoteShortcutActivity"
            android:exported="true"
            android:label="@string/add_new_note_title"
			android:icon="@drawable/ic_launcher_notepad_add"
		>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Activity : Preferences -->
		<activity
			android:name=".prefs.NotepadPreferenceActivity"
			android:label="@string/preferences_title"
		/>

		<activity
			android:name=".prefs.BackupDatabaseActivity"
			android:label="@string/backup_data_title"
		/>

		<activity
			android:name=".prefs.RestoreDatabaseActivity"
			android:label="@string/restore_data_title"
		/>

		<activity
			android:name=".prefs.InitializePreferenceActivity"
			android:label="@string/initialize_preference_title"
		/>

		<!-- About App Activities -->
		<activity
			android:name=".about.AppVersionActivity"
			android:label="@string/application_version_title"
		/>
		<activity
			android:name=".about.AppStoreActivity"
			android:label="@string/application_store_title"
		/>
		<activity
			android:name=".about.AppManagementActivity"
			android:label="@string/application_management_title"
		/>

		<!-- Activity : Debug -->
		<activity android:name=".debug.DebugFunctionActivity" />

		<!-- Service : data initialize service -->
		<service android:name=".template.NoteTemplateInitializer" />

		<service android:name=".prefs.BackupDatabaseService" />

		<!-- Provider : Notes & Templates Content Provider  -->
		<provider
			android:name=".provider.NoteProvider"
			android:authorities="org.routine_work.notepad.noteprovider"
			android:syncable="true"
		/>

		<!--
		<meta-data
			android:name="android.app.default_searchable"
			android:value=".NotepadActivity"
		/>
		-->

		<meta-data android:name="android.max_aspect" android:value="2.1" />

	</application>

</manifest> 
